@import "tailwindcss";

:root {
  --background: #F3EEDC;
  --foreground: #171717;
  --primary: #3A4824;
  --desert: #B8790A;
  --beige: #EAD8B8;
  --terracota: #AB5641;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /*colors*/
  --color-primary: var(--primary);
  --color-desert: var(--desert);
  --color-beige: var(--beige);
  --color-terracota: var(--terracota);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-image: none;
}

[data-admin-panel] [class~="rounded"],
[data-admin-panel] [class*="rounded-"] {
  border-radius: 0.125rem !important;
}

a,
button:not(:disabled),
select,
summary,
[role="button"],
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
